/* ------------------- General css ------------------------ */
body {
	background-color: #f1f1f1;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}

#sidebar-container {
	min-height: 100vh;
    background-color: #212529;
    padding: 0;
}

.btn-primary {
	background-color: #cd0001;
	border: none;
}

.btn-primary:hover {
	background-color: #cd0001;
}

.white-section {
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	background-color: #fff;
}

.dark-grey-background {
	background-color: #212529;
}

.bg-red {
	background-color: #cd0001;
}

.list-group-item {
	background-color: inherit;
	color: #aaa !important;
}

.list-group-item:hover {
	background-color: inherit;
	color: #ccc !important;
}

.list-group-item:first-child {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

.list-group-item.active {
	border-color: rgba(0,0,0,.125);
	color: white !important;
	background-color: #cd0001;
}

.list-group-item.active:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(205, 0, 1, 0);
	border-left-color: #cd0001;
	border-width: 8px;
	margin-top: -8px;
}

.list-group-item-xs {
	color: #aaa !important;
	border: 1px solid rgba(0,0,0,.125);
	cursor: pointer;
}

.list-group-item-xs:hover {
	background-color: inherit;
	color: #ccc !important;
}

.list-group-item-xs.active {
	border-color: rgba(0,0,0,.125);
	background-color: #cd0001;
	color: white !important;
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) { 
	#sidebar-container {
		width: 60px;
	}
	
	.sidebar-separator, .sidebar-separator-title {
		display: none !important;
	}
}

@media (max-width: 574px) {
	body {
		padding-bottom: 56px;
		margin-top: 56px;
	}
}	

@media (max-width: 992px) and (min-width: 574px) {
	#content {
		width: calc(100vw - 72px);
	}

	.list-group-item {
		padding : 1.1rem 1.25rem;
	}
}