/* ------------------- General css ------------------------ */
body {
	background-color: #eaeaea;
	font-size: 14px;
	margin-top: 52px;
}

h1 {
	color: #33363b;
	font-size: 30px;
	margin-bottom: 0px;
}

h2 {
	font-size: 21px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}

#top-container > li:hover {
	background-color: #266488;
	cursor: pointer;
}

#sidebar-container {
	min-height: 100vh;
    background-color: #33363b;
    padding: 0;
}

.sticky-offset, .sticky-top {
    top: 52px;
}

.navbar-dark {
	background-color: #2b7098;
}

.btn-primary {
	background-color: #2b7098;
	border: none;
	font-size: 18px;
}

.btn-primary:hover {
	background-color: #2b7098;
}

.text-primary-color {
	color: #2b7098 !important;
}

.white-section {
	-webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	background-color: #fff;
}

.dark-grey-background {
	background-color: #33363b;
}

.list-group-item {
	background-color: inherit;
	color: white !important;
	font-size: 15px;
	border: thin solid rgba(0,0,0,.05);
}

.list-group-item > small {
	font-size: 70%;
}

.list-group-item:hover {
	background-color: inherit;
}

.list-group-item-xs {
	color: white !important;
	border: thin solid rgba(0,0,0,.05);
	cursor: pointer;
}

.list-group-item-xs:hover {
	background-color: inherit;
	color: white !important;
	text-decoration: none !important;
}

nav a.router-link-active {
	background-color: #282b2f !important;
	color: #2b7098 !important;
}

/* Medium devices (desktops, 1140px and down) */
@media (max-width: 1140px) {
	.sidebar-separator, .sidebar-separator-title {
		display: none !important;
	}
}

@media (min-width: 574px) and (max-width: 1140px) {
	#sidebar-container {
		width: 60px !important;
	}
	
	#content {
		width: calc(100% - 60px);
	}

	.list-group-item {
		padding : 1.1rem 1.25rem;
	} 
} 

@media (max-width: 574px) {
	body {
		padding-bottom: 30px;
		margin-top: 52px;
	}

	.navbar-brand {
		font-size: 17px;
	}
}

/* LOGIN */
#login .form-wrap {
	border-radius: 8px 8px 0px 0px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.75);
}

#login .hyperlink {
	border-radius: 0px 0px 8px 8px;
	background-color: white;
	border-top: 2px solid #f1f1f1;
	-webkit-box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 20px -10px rgba(0,0,0,0.75);
}

@media (min-width: 576px) { 
	#login .form-wrap {
		margin-top: 25px;
		width : 90%;
	}

	#login .hyperlink {
		width : 90%;
		margin-bottom: 25px;
	}
}

@media (min-width: 768px) { 
	#login .form-wrap {
		margin-top: 100px;
		width : 65%;
	}

	#login .hyperlink {
		width : 65%;
		margin-bottom: 100px;
	}
}

@media (min-width: 992px) {
	#login .form-wrap {
		width : 45%;
	}

	#login .hyperlink {
		width : 45%;
	}
}

@media (min-width: 1200px) {
	#login .form-wrap {
		width : 38%;
	}

	#login .hyperlink {
		width : 38%;
	}
}